.copyright-col {
    text-align: center;
}

.logo {
    vertical-align: middle;
    display: inline-block;
}

.intro {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.text-primary {
	color: #455164;
}

.service-heading {
	color: #455164;
}
